/* frontend/src/components/layout/header.scss */

.header {
    background-color: #ffffff;
    padding: 10px 0;
    border-bottom: 1px solid #000000;
  
    .container {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  
    .logo {
      img {
        height: 50px;
        // Adjust the height as needed
      }
    }
  
    nav {
      ul {
        list-style: none;
        display: flex;
        gap: 20px;
        padding: 0;
        margin: 0;
  
        li {
          a {
            text-decoration: none;
            color: #333;
            font-weight: bold;
  
            &:hover {
              color: #007bff;
            }
          }
        }
      }
    }
  }
  