.dashboard {
  display: flex;

  .sidebar {
    width: 200px;
    background-color: #f4f4f4;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);

    .menu-item {
      padding: 10px;
      cursor: pointer;
      font-size: 16px;
      color: #333;

      &:hover,
      &.active {
        background-color: #ddd;
        font-weight: bold;
      }
    }

    hr {
      border: 0;
      border-top: 1px solid #ddd;
      margin: 10px 0;
    }
  }

  .content {
    flex: 1;
    padding: 20px;
  }
}
